@charset "ISO-8859-1";


html {
	height: 100%;
	width: 100%;
}

body {
	background-color: black;
	background-size: 100% 100% 100%;
	background-image: url("/images/error1.png");
	background-size: 100% 100% 100%;
}


h3{
	position: absolute;
	bottom: 15%;
	width: 100%;
	font-family: impact;
	text-align: center;
	font-size: 32px;
	color: white;
	
	margin-left: auto;
	margin-right: auto;
	
}



h2{
	position: absolute;
	bottom: 45%;
	width: 100%;
	font-family: impact;
	text-align: center;
	font-size: 60px;
	color: white;
	
	margin-left: auto;
	margin-right: auto;
	
}




.imagen{
	position: absolute;
	
	left: 45%;
	bottom: 25%;
	
}